body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #4a4a4a;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label[for="id_dietas"] {
    font-weight: bold;
    color: #5cb85c;
    font-size: 30px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

#id_dietas {
    display: block; /* Asegura que el select se comporte como un bloque */
    margin: 0 auto; /* Centra el select horizontalmente */
    text-align: center;
    width: 80%; /* Ajusta el ancho según tus necesidades */
    height: 40px; /* Ajusta la altura según tus necesidades */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    padding: 5px; /* Añade espaciado interno */
}