{% extends 'layouts/base.html' %}

{% block content %}

<title>Seleccionar alimentos</title>
<h1>bienvenido a django</h1>
<form method="post">
    {% csrf_token %}
    {% for alimento in alimentos %}
        {% for alimento_separados in alimento %}

        <ul>
            <li>
                <h1>{{alimento_separados}}</h1>
                <input type="text" placeholder="Cantidad">
            </li>
        </ul>
        {% endfor %}
    {% endfor %}
    <button type="submit">Guardar alimentos seleccionados</button>
</form> 

{%endblock%}

